---
import Navbar from "../components/Navbar.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout titlePage={'Acerca de'}>
    <h1>Sobre Sebastian Sanhueza</h1>
</MainLayout>