---
// Server Only

const name = 'Sebastián Sanhueza';
const titlePage = 'Página principal';
---

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{titlePage}</title>
</head>
<body>
	<h1>{name}</h1>
</body>
</html>