---
// Server Only
const name = 'Sebastián Sanhueza';
const titlePage = 'Página principal';
---

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{titlePage}</title>
</head>
<body>
	<h1>{name}</h1>

	<p>Momento actual: {new Date().toLocaleTimeString()}</p> <!-- Esto quedará estático -->
	<p>Momento actual real: <span id="momentoActual"></span></p>

	<footer>
		2024
	</footer>
</body>
<script>
	// Client Only
	const currentYear: number = new Date().getFullYear();
	
	const footer = document.querySelector('footer') as HTMLElement;
	const momentoActual = document.querySelector('#momentoActual') as HTMLElement;

	footer.innerHTML = `Año: ${currentYear}`;

	setInterval(() => {
		momentoActual.innerHTML = new Date().toLocaleTimeString();
	}, 1000);
</script>
</html>